#Vagrant
.vagrant/

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml
## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

#Exclude composer vendor folders
vendor
node_modules
npm-debug.log*
BuildConfig.json
security-checker.phar

# Uploaded Images
src/Images/Family
src/Images/Person

# public dir
src/public/userdir/*
src/private/userdir/*

# SASS
.sass-cache

#skins
src/skin/external
src/skin/adminlte
src/skin/churchcrm.min.css.map
src/skin/churchcrm.min.css

#locale files
src/locale/datatables
src/locale/js

# the documenation sh files
Documentation/doc-fr/mkdoc.sh 
Documentation/doc-en/mkdoc.sh

# Configuration files with passwords
src/Include/Config.php

target
temp_attach
src/EcclesiaCRM/model/EcclesiaCRM/Base/
src/EcclesiaCRM/model/EcclesiaCRM/Map
src/signatures.json
src/integrityCheck.json
src/tmp_attach
src/logs/*.log

error.log
/nbproject/private/
!propel/*

locale/backup/
locale/connection.php

src/skin/ecclesiacrm.min.css
src/skin/ecclesiacrm.min.css.map


Documentation/doc-en/mkdoc.sh
Documentation/doc-fr/mkdoc.sh

# ignore the sufolders of propel
propel/extract_schema.sh
propel/generated-reversed-database/

# ignore
prepare_archive.sh

# ignore
package-lock.json

.DS_Store
._.DS_Store

# ignore

upload-71-plateform.sh
upload-github-release.sh
upload-imathgeo.com

