/*! DO NOT MANUALLY EDIT skin/ecclesiacrm.min.css

    Please make changes to skin/scss/*.scss and recompile with SASS. http://sass-lang.com/

    sass --watch src/skin/ecclesiacrm.scss:src/skin/ecclesiacrm.min.css --style compressed

*/


// Import Libraries

// The only library we do not embed is Bootstrap, because it's very big
// and we don't want to incur IE's CSS limits.
// ( http://spaceninja.com/2015/03/31/ie-css-limits/ )

@import 'external/bootstrap-datepicker/bootstrap-datepicker.standalone.min.css';
@import 'external/iCheck/blue.css';

@import 'external/select2/select2.min.css';
@import 'external/adminlte/adminlte.min.css';

@import 'external/jquery-ui/jquery-ui.css';
@import 'external/bootstrap-toggle/bootstrap-toggle.css';
@import 'external/font-awesome-new/css/all.css';
@import 'external/jquery.steps/jquery.steps.css';
@import 'js/jquery-photo-uploader/PhotoUploader.css';

//@import 'external/datatables/jquery.dataTables.min.css';
@import 'external/datatables/css/dataTables.bootstrap4.css';
@import 'external/datatables/css/dataTables.bootstrap4.min.css';
@import 'external/datatables/css/buttons.bootstrap4.min.css';
@import 'external/datatables/css/responsive.bootstrap4.min.css';
@import 'external/datatables/extensions/RowGroup/rowGroup.dataTables.min.css';
@import 'external/datatables/extensions/RowGroup/css/rowGroup.bootstrap4.min.css';
@import 'external/datatables/extensions/responsive/css/responsive.bootstrap4.min.css';
@import 'external/datatables/extensions/Select/select.bootstrap.min.css';

@import 'external/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css';


// Import EcclesiaCRM custom styles
@import 'scss/dropdowns';
@import 'scss/forms';
@import 'scss/tables';
@import 'scss/profileImage';
@import 'scss/shortConfig';
@import 'scss/leftNav';
@import 'scss/imageOverlay';
@import 'scss/maps';
@import "scss/spacing";
@import 'scss/SystemNotifications';
@import 'scss/cartDropdown';
@import 'scss/calendar';
@import 'scss/selectlist';
@import 'scss/configSideBar';
@import 'scss/timelineExtension';
@import 'scss/boostrap_bug_fix.scss';
@import 'scss/ckeditorExtension.scss';
@import 'scss/googlemap_event.scss';
@import 'scss/adminLTE_update.scss';
@import 'scss/text_extension.scss';
@import 'scss/qrcode.scss';
@import 'scss/login_page.scss';
@import 'scss/_datepicker.scss';
@import 'scss/_plugins.scss';
@import 'scss/_card_sticky.scss';
