.widget-user-2 .widget-user-header {
  padding: 5px;
}

#eventDetails {
  display: block;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  padding: 9px;
  min-height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#eventDetails span {
  font-size: 11px;
  text-align: center;
  color: rgb(73, 69, 69);
  display: block;
}

#eventTitle {
  font-size: 30px !important;
  font-weight: bold;
}

#newStudent {
  position: fixed;
  left: 20px;
  bottom: 80px;
  width: 30px;
  height: 30px;
  z-index: 10000;
  font-size: 48pt;
  color: green;
}

.login-page {
  display: block !important;
}

#event {
  display: none;
}

#noEvent {
  display: none;

  position: fixed;
  /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

}

.widget-user-username-kiosk {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 5px;
}

.widget-user-desc-kiosk {
  margin-left: 66px;
  font-size: 13px;
  margin-top: 14px;
}