.no-background-theme {
    background-color:rgba(0.0, 0.0, 0.0, 0.0)
}

/* special alert */
.alert-birthday {
    background-color: #76c3e8;
    border-left-color: #498bbb !important;
    border-left-width: 5px;
}

.alert-birthday a {
    color: #333;
}

.alert-birthday a:hover {
    color: #000;
}

.alert-pastoral-care {
    background-color: #fbba7a;
    border-left-color: rgba(11, 11, 11, 0.3) !important;
    border-left-width: 5px;
}

.alert-pastoral-care a {
    color: #333;
}

.alert-pastoral-care a:hover {
    color: #000;
}

/* sidebar icon */

.menu-icon {
    float: left;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 25px;
}


.label-danger, .modal-danger .modal-body {
    background-color: #dd4b39 !important;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.control-sidebar-subheading {
    display: block;
    font-weight: 400;
    font-size: 14px;
}

.bg-gray {
    background-color: #d2d6de !important;
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #00a65a !important;
}

.bg-yellow-gradient {
    background: #f39c12 !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f39c12), color-stop(1, #f7bc60)) !important;
    background: -ms-linear-gradient(bottom, #f39c12, #f7bc60) !important;
    background: -moz-linear-gradient(bottom, #f39c12 0%, #f7bc60 100%) !important;
    background: -o-linear-gradient(#f7bc60, #f39c12) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7bc60', endColorstr='#f39c12', GradientType=0) !important;
    color: #fff;
}

.bg-blue-gradient {
    background: #0073b7 !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0073b7), color-stop(1, #0089db)) !important;
    background: -ms-linear-gradient(bottom, #0073b7, #0089db) !important;
    background: -moz-linear-gradient(bottom, #0073b7 0%, #0089db 100%) !important;
    background: -o-linear-gradient(#0089db, #0073b7) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089db', endColorstr='#0073b7', GradientType=0) !important;
    color: #fff;
}

/* the menu dropdown home ... */
.table-dropdown-menu {
    font-size: 14px;
}

.table-dropdown-menu p {
    margin-bottom: 0.5rem;
}

.user-menu > ul {
    width: 300px;
}

@media (max-width: 767px) {
    .navbar-nav > .user-menu .user-image {
        float: none;
        margin-right: 0;
        margin-top: -6px;
        margin-bottom: -2px;
        line-height: 10px
    }
}

/* map */
.leaflet-top, .leaflet-bottom {
    z-index: 800 !important;
    pointer-events: none;
}

/*

 */

.btn-primary {
    color: white !important;
}

.menu-info {
    vertical-align: middle;
    margin-left: 10px;
    padding: 7px;
    height: 40px;
}

/*.tab-pane hr {
    border-top: 1px solid rgba(255, 255, 255, 0.69);
}*/

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}

.icon-red {
    color: red;
}


@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }

/*
scrollable bootbox body
 */

    .modal-body {
        max-height: 500px;
        overflow-y: auto;
    }
}

/* the badges */

/*.badge {
    margin-right: 1px;
    margin-top: 3px;
}*/

/* calendar */

/*.fc button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
    background-image: none;
    text-shadow: none;
}*/

.fc-view-container {
    background-color: white !important;
}

.fc-day-header {
    border-style: none !important;
    text-align: right !important;
    background-color: white !important;
    color: gray !important;
    border-width: 0px !important;
    font-size: 18px !important;
    font-weight:400;
    text-transform: capitalize !important;
    border-top:0 !important;
}

.fc-widget-header {
    border-top:0 !important;
    background-color: white !important;
    margin-top:20px;
}

/* .fc-button {
    border: none !important;
    background-color: #007bff  !important;
    background-image: none !important;
    font-weight: 400 !important;
    color: #fff  !important;
    float: left  !important;
}

.fc-state-active {
    border: none;
    background-color: #0062cc  !important;
    color: white  !important;
    float: left;
    background-image: none !important;
    margin-left: .75em;
}

.fc-state-disabled {
    border: none;
    background-color: lightgray  !important;
    color: gray  !important;
    float: left;
    background-image: none !important;
    margin-left: .75em;
}*/

.fc-event {
    border-style: none !important;
    /*box-shadow: 1px 1px 12px #AAA;*/
    border: none !important;
    line-height: 1.8 !important;
    padding-left:12px;
    color: #fff !important;
}

.fc-event:hover {
    color: #000 !important;
}

/*.fc button:hover {
    color: #fff;
    background-color: #0062cc !important;
    border-color: #005cbf !important;
    box-shadow: none;
    background-image: none;
    text-shadow: none;
}*/

/* geopage color */
.info table tbody th {
    background-color: rgba(18, 145, 190, 0.1) !important;
}

/* label color */

.label-warning {
    color:red;
}

.label-default {
    color:gray;
}

.label-info {
    color:cyan;
}

/* the add button to cart */

.AddToPeopleCart a {
    color: #007bff !important;
}

.AddToPeopleCart a:hover {
    color: #0056b3 !important;
}

/* for the sunday school view */

.card-title-sundayschool-view {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}

/* the register box */
.register-box {
    width: 460px !important;
}

.main-header {
    border-bottom: 0px solid #dee2e6 !important;
}

/* bug correction right sidebar */
#right-sidebar {
    bottom: 0px !important;
}

/*  */
.text-sm .content-header h1 {
    font-size: 1.5rem;
    font-weight: 300;
}

.profile-username {
    font-size: 21px;
    margin-top: 5px;
    font-weight: 400;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.text-sm .btn {
    font-size: .75rem!important;
}

a {
    font-weight: 400;
}


.special-card {
    /* create a custom class so you
       do not run into specificity issues
       against bootstraps styles
       which tends to work better than using !important
       (future you will thank you later)*/

    box-shadow: 0 0 0px rgba(0,0,0,0),0 0px 0px rgba(0,0,0, 0) !important;

    background-color: rgba(255, 255, 255, 0);
    opacity: 1;
    margin-bottom: 0rem;
}


.special-card-body {
    /* create a custom class so you
       do not run into specificity issues
       against bootstraps styles
       which tends to work better than using !important
       (future you will thank you later)*/

    padding: .25rem !important;
}

.pull-right {
    float: right;
}

/* in usereditor */
.SmallText {
    font-size: 0.7em;
    font-weight: bold;
    /*margin-left: 10px;*/
}

.btn-link-menu {
    color: white;
}

.left-search-field-menu-bar {
    width:173px !important;
}

.img-circle-20 {
    border-radius: 20%;
}

.input-group-append {
    margin-left: -1px;
    background: rgb(241, 241, 241);
}

.fas-red {
    color:red;
}

.fas-green {
    color:green;
}


@media (prefers-color-scheme: dark) {
    .fas-red {
        color:rgb(255, 110, 110);
    }
    
    .fas-green {
        color:rgb(107, 180, 107);
    }
}
