.datepicker {
    z-index: 1050 !important;
}
.bootstrap-timepicker-widget {
    z-index: 1050 !important;
}

.div-title {
    padding-top:7px;
    padding-bottom:7px;
    border-top: solid 1px #eee;
}

.div-block {
    padding-top:10px;
    /*background-color: #eee;*/
}

.well {
margin-bottom: 0px;
}

.list-group {
margin-bottom: 0px;
}

.personal-collapse {
   padding:0px;
   margin-right: 1px;
   margin-left: 1px;
   margin-top:0px;
}

.hr-separator {
  margin-top: 2px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #eee;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 0px;
  background-color: #f5f5f5;
  border: 1px solid #ffffff;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.input-group-addon {
  border: 2;
  padding:1px 1px;
  margin-left: auto;
  margin-right: 0;
}

.input-group-addon:last-child {
  border-left: 1
}

.date-range {
  position: relative;
  min-height: 1px;
  float:left;
  padding-right: 15px;
  padding-left: 15px;
  width: 50%;
  text-align: center;
}

.status-event-title {
  position: relative;
  min-height: 1px;
  float:left;
  padding-right: 15px;
  padding-left: 15px;
  width: 25%;
}

.status-event {
  position: relative;
  min-height: 1px;
  float:left;
  padding-right: 15px;
  padding-left: 15px;
  width: 33.33333333%;
}

/* bug resolution with Chrome */
 @media print {
    a[href]:after {
        content: none !important;
    }
}
.fc-other-month .fc-day-number {
  display:none;
}

.input-group-addon {
  border: 2;
  padding:1px 1px;
}

.input-group-addon:last-child {
  border-left: 1;
}

/* end of bug resolution */

.card-calendar {
    box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 2px;
}

.card-header-calendar {
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: .1rem 1.25rem !important;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.card-tools-calendar {
    margin-top: 5px;
}

/* permet de gérer les icones dans la sidebar */
.calendar-sidebar-checkbox {
    margin-top: -8px;
}

.calendar-sidebar-info-button {
    font-size: 1.2em;
    text-align: right;
}

.my-colorpicker-global {
    height: 22px;
    width: 100% !important;
}

.form-group.has-warning label {
    color: #f39c12;
}

.form-group.has-warning .help-block {
    color: #f39c12;
}

.row-calendar-resource {
    margin-right:5px;
}
