.datepicker {
    z-index: 1050 !important;
}
.bootstrap-timepicker-widget {
    z-index: 1050 !important;
}

.div-title {
    padding-top:7px;
    padding-bottom:7px;
    border-top: solid 1px #eee;
}

.div-block {
    padding-top:10px;
    background-color: #eee;
}
