    a.cke_dialog_ui_button_danger {
        background : #d73925 !important;
        border : #d73925 !important;
        color : #fff !important;
        display: inline-block !important;
        padding: 4px 1px !important;
        margin: 0 !important;
        text-align: center !important;
        vertical-align: middle !important;
        cursor: pointer !important;
        border: 1px solid #bcbcbc !important;
        border-radius: 2px !important;
        letter-spacing: .3px !important;
        line-height: 18px !important;
        box-sizing: border-box !important;
    }
    
    a.cke_dialog_ui_button_danger:hover {
        background : #d73925 !important;
        border : #d73925 !important;
        color : #fff !important;
        display: inline-block!important;
        padding: 4px 1px !important;
        margin: 0 !important;
        text-align: center !important;
        vertical-align: middle !important;
        cursor: pointer !important;
        border: 1px solid #bcbcbc !important;
        border-radius: 2px !important;
        letter-spacing: .3px !important;
        line-height: 18px !important;
        box-sizing: border-box !important;
        opacity: .65 !important;
        filter: alpha(opacity=65) !important;
    }
    

    a.cke_dialog_ui_button_modify {
        background : #3c8dbc !important;
        border : #3c8dbc !important;
        color : #fff !important;
        display: inline-block;
        padding: 4px 1px!important;
        margin: 0 !important;
        text-align: center !important;
        vertical-align: middle !important;
        cursor: pointer !important;
        border: 1px solid #bcbcbc !important;
        border-radius: 2px !important !important;
        letter-spacing: .3px !important !important;
        line-height: 18px !important;
        box-sizing: border-box !important;
    }

    a.cke_dialog_ui_button_modify:hover {
        background : #3c8dbc !important;
        border : #3c8dbc !important;
        color : #fff !important;
        display: inline-block !important;
        padding: 4px 1px !important;
        margin: 0 !important;
        text-align: center !important;
        vertical-align: middle !important;
        cursor: pointer !important;
        border: 1px solid #bcbcbc !important;
        border-radius: 2px !important;
        letter-spacing: .3px !important;
        line-height: 18px !important;
        box-sizing: border-box !important;
        opacity: .65 !important;
        filter: alpha(opacity=65) !important;
    }

    /* the CKEditor templates list */
    
    .cke_tpl_list
    {
      border: #dcdcdc 2px solid !important;
      background-color: #ffffff !important;
      overflow-y: auto !important;
      overflow-x: hidden !important;
      /*width: 100% !important;*/
      height: 220px !important;
    }

    .cke_tpl_item
    {
      margin: 5px !important;
      padding: 7px !important;
      border: #eeeeee 1px solid !important;
      *width: 88% !important;
    }

    .cke_tpl_preview
    {
      border-collapse: separate !important;
      text-indent:0 !important;
      width: 100% !important;
    }
    .cke_tpl_preview td
    {
      padding: 2px !important;
      vertical-align: middle !important;
    }
    .cke_tpl_preview .cke_tpl_preview_img
    {
      width: 100px !important;
    }
    .cke_tpl_preview span
    {
      white-space: normal !important;
    }

    .cke_tpl_title
    {
      font-weight: bold !important;
    }

    .cke_tpl_list a:hover .cke_tpl_item,
    .cke_tpl_list a:focus .cke_tpl_item,
    .cke_tpl_list a:active .cke_tpl_item
    {
      border: #ff9933 1px solid !important;
      background-color: #fffacd !important;
    }

    .cke_tpl_list a:hover *,
    .cke_tpl_list a:focus *,
    .cke_tpl_list a:active *
    {
      cursor: pointer !important;
    }

    /* IE Quirks contextual selectors children will not get :hover transition until
      the hover style of the link itself contains certain CSS declarations. */
    .cke_browser_quirks .cke_tpl_list a:active,
    .cke_browser_quirks .cke_tpl_list a:hover,
    .cke_browser_quirks .cke_tpl_list a:focus
    {
      background-position: 0 0 !important;
    }

    .cke_hc .cke_tpl_list a:hover .cke_tpl_item,
    .cke_hc .cke_tpl_list a:focus .cke_tpl_item,
    .cke_hc .cke_tpl_list a:active .cke_tpl_item
    {
      border-width: 3px !important;
    }

    .cke_tpl_empty, .cke_tpl_loading
    {
      text-align: center !important;
      padding: 5px!important;
    }
