.card-header-workflow {
    padding: 0.25rem 0.25rem !important;
}

.card-title-workflow {
    margin-top: 3px !important;
    margin-left: 5px !important;
}


.card-body-workflow {
    padding: 0.1rem !important;
}
