.group_accordion {
    margin-bottom:7px;
}

.group_header {
    background-color: #dee2e6;
}

.group_header_accordion {
    background-color: #ffffff;
    padding: .30rem 1.25rem;
}

div.dt-button-collection {
    width: 200px;
}

/* new left and right sidebar */
.group_Side_bar {
    min-width: 400px;
    max-width: 300px;
    width:300px;
}

.GroupViewBootboxContentManager {
    width: 100%;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .group_header {
        background-color: #97999a;
    }

    .group_Side_bar {
        min-width: 400px;
        max-width: 100%;
        width:100%;
    }
}

@media (prefers-color-scheme: dark) {
    .group_header_accordion {
        background-color: #2d2c2c;
        padding: .30rem 1.25rem;
    }
}