.wizard > .content {
    background: #fff;
}

.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
    background: #fff;
    color: #6e6e6e;
}

.twofact {
    width: 275px
}

.twofact_textfield {
    border: 2px solid red !important
}

.lockscreen-item-pos {
    margin-left:-15px;
}

.alert-error-text {
    color:red;
    margin: -10 0 0 0;
}

.alert-warning-text {
    color: orange;
    margin: -10 0 0 0;
}

.login-card-body, .register-card-body {
    background-color: rgba(255, 255, 255, 0) !important;
    color: #000 !important;
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);*/
}

.blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4) !important;
    color: black !important;
}

.login-page, .register-page, .lockscreen {
    background : #f3f2f7 !important;
    background-image: url(../Images/Session/background.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.lockscreen-wrapper {
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
color: #000 !important;
}


.list-group-item {
    background-color: rgba(255, 255, 255, 0) !important;
}
