.card-mailchimp {
    box-shadow: none !important;
    margin-bottom: 0rem !important;
    background-color: #fff0 !important;
}


.shadow-mailchimp {
    box-shadow: 0 .3rem 0.3rem rgba(0,0,0,.15)!important;
}

.btn-app-mailchimp {
    background-color: #e0e4e7 !important;
}
.alert-mailchimp {
    margin-left: -10px !important;
    margin-right: -10px !important;
    margin-top: -10px !important;
}

.col-lg-mailchimp {
    margin-left: 10px !important;
    margin-right: -10px !important;
    border-right: 1px solid #e3e1e1 !important;
}

.hr-mailchimp {
    margin-left: -20px;
    margin-right: -20px;
}

.mailchimp-h3 {
    color: #007c89;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 200;
}

.mailchimp-h2 {
    color: #111;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 200;
}

.mailchimp-campaign-main-send-infos {
    background-color: #fbfbfb;
    padding: 10px;
    margin: 10px;
}

.mailchimp-campaign-main-send-infos-sub {
    border: 1px solid #dddddd;
}

.mailchimp-campaign-main-send-infos-sub-cell {
    border-right: 1px solid #dddddd;
}

.leaders {
    overflow-x: hidden;
}

.leaders li {
    margin-bottom: 12px;
    background: url(/Images/bg-leaders.png) transparent 0 17px repeat-x;
}

.leaders li>span:first-child {
    padding-right: 12px;
}
.leaders li>span {
    background-color: #fbfbfb;
}

.leaders li>span+span {
    float: right;
    padding-left: 12px;
}

.fwb {
    font-weight: 500;
}

.size1of2 {
    width: 50%;
}
.lastUnit, .unit {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    float: left;
}

@media (prefers-color-scheme: dark) {
    .btn-app-mailchimp {
        background-color: #555 !important;
    }

    .col-lg-mailchimp {
        border-right: 1px solid #eee !important;
    }
}


