.card-mailchimp {
    box-shadow: none !important;
    margin-bottom: 0rem !important;
    background-color: #fff0 !important;
}


.shadow-mailchimp {
    box-shadow: 0 .3rem 0.3rem rgba(0,0,0,.15)!important;
}

.btn-app-mailchimp {
    background-color: #e0e4e7 !important;
}
.alert-mailchimp {
    margin-left: -10px !important;
    margin-right: -10px !important;
    margin-top: -10px !important;
}

.col-lg-mailchimp {
    margin-left: 10px !important;
    margin-right: -10px !important;
    border-right: 1px solid #e3e1e1 !important;
}

.hr-mailchimp {
    margin-left: -20px;
    margin-right: -20px;
}

@media (prefers-color-scheme: dark) {
    .btn-app-mailchimp {
        background-color: #555 !important;
    }

    .col-lg-mailchimp {
        border-right: 1px solid #eee !important;
    }
}


