#maplegend{
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 5px;
    margin: 5px;
    border: 1px solid #000;
    opacity: 0.7;
    z-index: 800;
    h4 {
        margin-top: 0;
    }
    img {
        vertical-align: middle;
    }
}

#maplegend-dark {
    font-family: Arial, sans-serif;
    background: #524545;
    padding: 5px;
    margin: 5px;
    border: 1px solid #000;
    opacity: 0.7;
    z-index: 800;
    h4 {
        margin-top: 0;
    }
    img {
        vertical-align: middle;
    }
}

#maplegend-bing{
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 5px;
    margin: 5px;
    border: 1px solid #000;
    opacity: 0.7;
    z-index: 800;
    h4 {
        margin-top: 0;
    }
    img {
        vertical-align: middle;
    }
}

#maplegend-bing-dark {
    font-family: Arial, sans-serif;
    background: #524545;
    padding: 5px;
    margin: 5px;
    border: 1px solid #000;
    opacity: 0.7;
    z-index: 800;
    h4 {
        margin-top: 0;
    }
    img {
        vertical-align: middle;
    }
}

.map-div {
    margin: 2px;
}

div {
    .legenditem {
        padding: 4px 4px;
        margin-bottom: 4px;
        box-shadow: 1px 1px 1px 1px darkgrey;
        width:100%;
    }
    .legendbox {
        margin: 7px 3px 0px 3px ;
    }

    .legenditemtext {
        display: block;
        overflow: hidden;
    }
}

img.legendicon {
    float: left;
}

#maplegend {
    position: absolute;
    bottom: 127px !important;
    right: 50px !important;
    font-size: 12px;
    width: 250px;
}

#maplegend-dark {
    position: absolute;
    bottom: 127px !important;
    right: 50px !important;
    font-size: 12px;
    width: 250px;
}

#maplegend-bing {
    position: absolute;
    bottom: 127px;
    left: 0px;
    font-size: 12px;
    width: 250px;
}

#maplegend-bing-dark {
    position: absolute;
    bottom: 127px;
    left: 0px;
    font-size: 12px;
    width: 250px;
}

#maplegend-mobile {
     width:100%;
}

.map-div {
    height: 500px;
}


@media only screen and (max-width: 600px) {
    #maplegend {
        display: none;
    }

    #maplegend-bing {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    #maplegend-mobile {
        display: none;
    }
    .map-div {
        height:650px !important;
    }
}
