#maplegend{
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 5px;
    margin: 5px;
    border: 1px solid #000;
    opacity: 0.7;
    z-index: 800;
    h4 {
        margin-top: 0;
    }
    img {
        vertical-align: middle;
    }
}

#maplegend-bing{
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 5px;
    margin: 5px;
    border: 1px solid #000;
    opacity: 0.7;
    z-index: 800;
    h4 {
        margin-top: 0;
    }
    img {
        vertical-align: middle;
    }
}

.map-div {
    height:750px;
    margin: 2px;
}

div {
    .legenditem {
        padding: 4px 4px;
        margin-bottom: 4px;
        box-shadow: 1px 1px 1px 1px darkgrey;
        width:100%;
    }
    .legendbox {
        margin: 7px 3px 0px 3px ;
    }

    .legenditemtext {
        display: block;
        overflow: hidden;
    }
}

img.legendicon {
    float: left;
}


@media screen and (max-device-width: 600px) {
    #maplegend {
        visibility: hidden;
        position: absolute;
        bottom: 127px;
        right: 0px;
    }
    #maplegend-bing {
        visibility: hidden;
        position: absolute;
        bottom: 127px;
        left: 0px;
    }

    #maplegend-mobile {
        display: block;
        width:100%;
    }
    .map-div {
        height: 500px;
    }
}
@media screen and (min-device-width: 599px) {
    #maplegend {
        display: block;
        position: absolute;
        top: 220px;
        right: 20px !important;
        width:220px;
        min-height: 450px;
    }
    #maplegend-bing {
        display: block;
        position: absolute;
        top: 300px;
        right: 100px;
        width:220px;
        min-height: 450px;
    }

    #maplegend-mobile {
        visibility: hidden;
        width:100%;
    }
    .map-div {
        height: 750px;
    }
}

#maplegend {
    font-size: 12px;
}

#maplegend-bing  {
    font-size: 12px;
}
