.print-h2 {
    font-size: 22px;
    background: lightblue;
    padding: 10px;
}

.print-h4 {
    font-size:18px;
    background: lightgray;
    padding: 5px;
}

.print-table-header {
    background: gray;
    color: white;
}

.TinyTableHeader {
    background: rgb(179, 179, 179);
    color: black;
}

.print-note-text{
    border-top: 1px solid gray;
    margin-top:-10px;
}

.ShadedBox {
    margin-left: 15px;
}

.print-p-center {
    text-align: center;
}