//
// Component: Text
//

.text-red {
    color: red !important;
}

.text-blue {
    color: blue !important;
}

.text-teal {
    color: lightgreen !important;
}

.text-olive {
    color:darkgreen !important;
}
