.preferences_pane {
    border-left: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    margin-right: -8px;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
